<ion-content padding>
<div class="app_font" style="background-image: linear-gradient(rgba(2,2,2,0) ,rgba(2,2,2,1)); position: fixed; bottom: 0px; width: 100%; padding : 2% 2% 7% 2%;">
<h1 class="heading_text">Welcome to <br> <span class="smart_text"><b>Smartcut Salon</b></span></h1>
  <p class="detail_text">The smart and handy app to manage all your salon's, Barber's and Services Anytime , Anywhere </p>
  <button class="button_white">Login</button>
  <button class="button_gredient float_left">SignUp</button>

</div>
</ion-content>

<!--  -->
